

body {
  font-family: Arial, Helvetica, sans-serif;
  
}

nav{
  display: flex;
  padding: 20px 10px 10px 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid #ccc 1px;
}

.nav-title{
  text-decoration: none;
  color: black;
}

.nav-items{
  display: flex;
  list-style-type: none;
}

.nav-item{
  text-decoration: none;
  margin-left: 15px;
  font-size: 1.2rem;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.article-card:hover{
  background-color: #ececec;
}

.article-card{
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  flex-basis: 300px;
  border-radius: 10px;
}

.article-img{
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

.article-card-title{
  height: 50px;
  color: black;
  margin-bottom: 10px;
}

.article-card-link{
  text-decoration: none;
}

.article-card-comments-votes{
  display: flex;
}

.article-card-comments-votes p{
  padding: 5px;
  margin: 5px 5px 5px 0;
  border: solid 1px;
  border-radius: 10px;
  background-color: #ececec;
  border-style: unset;
  font-size: 12px;
}

.comment-card{
  margin: 10px 10% 10px 10%;
  padding: 10px;
  border: 1px solid #ccc;
  flex-basis: 300px;
  border-radius: 10px;
}

.single-article-division{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.single-article-division img{
  width: 80%;
  border-radius: 20px;
}


.single-article-interaction-card{
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 10%;
}

.single-article-interaction-card p{
  margin: 5px 5px 5px 5px;
}



.app-container {
  display: flex;
}

.side-bar {
  width: 150px;
  border-right: solid gainsboro 1px;
}

.main-content {
  flex-grow: 1; 
}

.single-article-section{
  margin-left: 30px;
}

.topic-text{
  text-decoration: none;
}

.topic-text p{
  margin: 2px 10px 2px auto;
  border-color: gainsboro;
  color: black;
}

.sort-by-options{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  padding: 10px;
  background-color: white;
  text-decoration: none;
}

.options-list{
  list-style-type: none;
  text-decoration: none;
}

.options-link{
  text-decoration: none;
  color: black;
}

.options-link li:hover{
  background-color: #007cb9;
  color: white;
}

.sort-by-box{
  position: relative;
  margin-left: 47px;
}

.sorting-button{
  position: relative;
  margin-right: 10px;
  margin-left: 20px;
}

.order-by-box{
  position: relative;
}

.order-by-options{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  padding: 10px;
  background-color: white;
}

.sorting-section{
  display: flex;
  margin-top: 5px;
  justify-content: end;
  margin-right: 5%;
}

.comment-adder-form{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
}

.comment-adder-form button{
  background-color: #007cb9;
  color: white;
  border-radius: 5px;
  border-style: unset;
}

.comment-adder-box p{
  margin-left: 10%;
}

.comment-header{
  margin-left: 10%;
}

.comment-author{
  font-size: 14px;
}